@font-face {
    font-family: 'AbletonSans';
    src: url('AbletonSansBold-Regular.otf') format('truetype');
    font-weight: bold;

}

@font-face {
    font-family: 'AbletonSans';
    src: url('AbletonSansMedium-Regular.otf') format('truetype');
    font-weight: 500;
}
